html,
body {
	background-color: #191919;
	color: #cccccc;
	height: 96%
}
#wrap { min-height: 100%; }
#main {
  overflow: auto;
  padding-bottom: 180px;
}
footer {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}
.current { background-color: green; }
.navigation {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}
	li {
		float: left;
		border-right: 1px solid #bbb;
	}
	li:last-child {
		border-right: none;
	}
	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	li a:hover:not(.current) {
		background-color: #111;
	}
}
.headertext { text-align: center; }
.projects {
	h3 {
		text-align: start;
		text-decoration: underline;
	}
	ul {
		border: hidden;
	}
	li {
		text-align: start;
		padding: 3px;
	}
}
.maintext {
	div {
		width: 300px;
		height: 100px;
	}
	p {
		text-align: center;
		line-height: 20px;
		margin: auto;
		font-size: 18px;
	}
}
div.mainposts {
	text-align: center;
}
.mainposts {
	ul {
		font-size: 25px;
		display: inline-block;
		text-align: left;
		list-style: none;
	}
}
.imagelinks {
	img {
		width: 32px;
		height: 32px;
		vertical-align: middle;
	}
	a {
		color: white;
		padding: 5px;
	}
}
div.blog { text-align: center; }
.blog {
	ul {
		display: inline-block;
		text-align: left;
	}
}
