<!doctype html>
<html>
	<div id="wrap">
		<head>
			<meta charset="utf-8">
			<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
			{% include navigation.html %}
			<title>{{ page.title }}</title>
			<link rel="stylesheet" href="/assets/css/styles.css">
		</head>
		<body>
			<div id="main">
				{{ content }}
			</div>
		</body>
	</div>
	<footer>
		<p>This pages source code:
		<a href="https://github.com/Tyhjakuori/Tyhjakuori.github.io">Github</a></p>
	</footer>
</html>
